<h1>All Ads</h1>
<%@advertisements.each do |advertisement|%>
<div class = "media">
  <div class = "media-body">
    <h4 class = "media-heading">
      <%= link_to advertisement.title, advertisement %>
    </h4>
      <h5>$<%= advertisement.price %></h5>
      <p><%= advertisement.body %></p>
  </div>
</div>
<% end %>
