// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn{
  position: relative;
  display: block;
  height: 40px;
  width: 100px;
  border: 1px solid black;
  background: rgb(130,150,250);
  text-align: center;
}

.social-btn:hover{
  cursor: pointer;
}
